.n-topology-thumbnail {
  position: absolute;
  border: solid 1px #ccc;
  box-shadow: 0px 0px 10px #ccc;
  margin-top: -10px;
  margin-left: -10px;
  z-index: 100;
  background: #fff;
  &-container {
    position: relative;
  }
  &-win {
    position: absolute;
    border: solid 1px #f00;
  }

  &-svg {
    border: solid 1px #c4c4c4;
    background: #fff;
  }
  .handler {
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
  }

}